:root {
    --chocolate-oscuro: #4E342E; 
    --caramelo-dorado: #D9A066; 
    --vainilla-cremosa: #F6E8C3; 
    --naranja-suave: #E2955C; 
    --blanco-calido: #FDF6EC; 
    --btn-hover: #A66245;
    --fondo: #F3E2C7;
}
/*Fondo del sitio*/
body{
    background-color: var(--fondo);
}

/*Fondo del header*/
header {
    background-color: var(--chocolate-oscuro);
    color: var(--blanco-calido);
}

/*Estilo del título y descripcion*/
h1{
    font-family: 'Pacifico';
}
.p{
    font-family: 'Lora';
}

/*Estilo del titulo de catalogo y form*/
.text-center {
    font-family: 'Playfair Display';
}

.card-title{
    font-family: 'Lobster Two';
}
.card-text{
    font-family: 'Quicksand';
}

/*Botones principales*/
.btn-pastel-blue {
    background-color: var(--caramelo-dorado);
    border: none;
    color: var(--chocolate-oscuro);
    font-family: 'Poppins';
}

.btn-pastel-blue:hover {
    background-color: var(--naranja-suave);
    color: var(--blanco-calido);
}

/*Fondo de la sección de contacto*/
.bg-pastel-blue {
    background-color: var(--naranja-suave);
    color: var(--chocolate-oscuro);
}

/*Estilo para el formulario*/
.form-label{
    font-family: 'Nunito';
}
form input,
form textarea {
    background-color: var(--blanco-calido);
    border: 1px solid var(--vainilla-cremosa);
    color: var(--chocolate-oscuro);
}

form input:focus,
form textarea:focus {
    border-color: var(--caramelo-dorado);
    box-shadow: 0 0 5px var(--caramelo-dorado);
}

/*Botón de enviar en el formulario*/
.btn-pastel-pink {
    background-color: var(--chocolate-oscuro);
    border: none;
    color: var(--blanco-calido);
    font-family: 'Poppins';
}

.btn-pastel-pink:hover {
    background-color: var(--btn-hover);
    color: var(--blanco-calido);
}

/*Fondo del footer*/
footer {
    background-color: var(--chocolate-oscuro);
    color: var(--blanco-calido);
}

/*Animaciones y efectos*/
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--blanco-calido);
    border: 1px solid var(--vainilla-cremosa);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

